 .header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
     background-color: teal;
     color: white;
 }

 .footer {
     background-color: silver;
 }

 .container{
    margin: 0px;
 }

 *{
   margin: 0px; 
 }
 .menu{
    display: flex;
 }